# Fichiers Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
terraform.tfvars

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'environnement
.env
.env.local

# Dépendances
/vendor/
/node_modules/ 